<div class="container height-100vh d-flex flex-column justify-content-center">
  <div class="row d-flex flex-row align-items-center">
    <div class="col-md-4 offset-md-1">
      <img class="img-fluid" src="/images/index-cover-men.png" alt="image cover">
    </div>
    <div class="col-md-4 offset-md-2">
      <h1>Ironleads</h1>
      <p>Ironleads est votre générateur de leads B2B. Trouvez vos prochains prospects en toute sérénité.</p>
      <a href="/criteria-search" class="badge badge-primary index-button">Trouver des leads grâce à la recherche par critères</a>
      {{!-- <a href="#" class="badge badge-primary index-button">A partir d'un lead identifié, trouver des leads similaires</a> --}}
    </div>
  </div>
</div>