.height-100vh {
  height: 100vh;
}

.index-button {
  width: 100%;
  padding: 20px;
  margin: 20px 0;
}

.mauve {
  background-color: #F0EFFF;
}

.criteria-search-img {
  background-image: url('/images/meeting.jpeg');
  background-size: cover;
}